<div class="banner" data-aos="fade-down" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_url 'main-banner.jpg' %>);">
  <div class="banner-content">
    <h1><%= @title %></h1>
    <h2><%= @subtitle %></h2>
    <h1>🍹 ⬇️ 🍷</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card " data-aos="fade-up" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo %>');">
        <div class="card-description">
          <h2><%= cocktail.name %></h2>
        </div>
        <%= link_to '', cocktail_path(cocktail), class: "card-link" %>
      </div>
    </div>
    <% end %>
  </div>
  <div class="row" id="search">
    <div class="form-inline text-center">
      <%= simple_form_for cocktails_path, method: "get" do |f| %>
      <%= f.input :query, label: false, placeholder: @search %>
      <%= f.button :submit, "Search" %>
      <%= link_to("Cancel", cocktails_path, class: "btn btn-danger") unless @search == '' %>
      <% end %>
    </div>
  </div>
</div>
