  <div class="gray-background" data-aos="fade-up">
<h1 class="text-center">New Dose for <%= @cocktail.name %></h1>
<div class="container">
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :ingredient, as: :select, collection: Ingredient.all %>
  <%= f.input :description %>
  <%= f.button :submit %>
  <%= link_to "Cancel", cocktails_path, class: "btn btn-danger" %>
<% end %>
</div>
</div>