<h1>New Dose for <%= @cocktail.name %></h1>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :ingredient, as: :select, collection: Ingredient.all %>
  <%= f.input :description %>
  <%= f.button :submit %>
<% end %>